name: test

on:
  - push
  - pull_request

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: |
          echo '!setup' >> .dockerignore
          echo '!wpa_passphrase' >> .dockerignore
          echo '!wpa_supplicant' >> .dockerignore
      - run: >
          docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable
          setup
          wpa_passphrase
          wpa_supplicant
