name: test

on:
  - push
  - pull_request

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: |
          echo '!setup' >> .dockerignore
          echo '!wpa_passphrase' >> .dockerignore
          echo '!wpa_supplicant' >> .dockerignore
      - run: >
          docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable
          setup
          wpa_passphrase
          wpa_supplicant
